html,body {
  width: 100%;
  height: 100%;
}
.container {
  height: 100%;
}
.row_map {
  height: 100%;
}
.panel {
  height: 100%;
}












#map_background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.map_div {
  width:50%;
  height:95%;
  margin-left:10%;
  float: left;
/*  border:2px solid; */
}
.map_info_div {
  height:100%;
  width: 90%;
  text-align: left;
/*  border:2px solid;*/
}

.context_menu {
  visibility:hidden;
  background:#ffffff;
  border:1px solid #8888FF;
  z-index: 10;  
  position: relative;
  width: 140px;
}
.context_menu div {
  padding-left: 5px
}
.context_menu div:hover {
  background-color: #79bbff;
}

a.menu_links {
  cursor: pointer;
}
